* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

/* Add styles here! */

:root {
    --spacing-00: 4px;
    --spacing-01: 8px;
    --spacing-02: 16px;
    --spacing-03: 24px;
    --spacing-04: 32px;
    --spacing-05: 48px;
    --spacing-06: 64px;
    --spacing-07: 96px;
    --spacing-08: 128px;

    --font-size-01: 1rem;
    --font-size-02: 1.25rem;
    --font-size-03: 1.5rem;
    --font-size-04: 2rem;

    --color-primary: hsl(160deg, 100%, 30%);
    --color-secondary-light: hsl(45deg, 100%, 50%);
    --color-secondary-dark: hsl(45deg, 100%, 40%);

    --color-neutral-100: hsl(0deg, 0%, 100%);
    --color-neutral-300: hsl(0deg, 0%, 60%);
    --color-neutral-500: hsl(0deg, 0%, 40%);
    --color-neutral-600: hsl(0deg, 0%, 30%);
    --color-neutral-700: hsl(0deg, 0%, 10%);
    --color-neutral-900: hsl(0deg, 0%, 0%);
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: var(--color-neutral-300);
}

.max-width-wrapper {
    max-width: 768px;
    margin: auto;
}

header {
    padding: var(--spacing-05) 0 var(--spacing-03) 0;

    background-color: var(--color-neutral-100);
    border-bottom: 4px solid var(--color-neutral-500);

    font-size: var(--font-size-02);
}

strong {
    color: var(--color-primary);
}

.intro-chunk {
    max-width: 300px;
    padding: 0 var(--spacing-02);
}

.title {
    font-size: var(--font-size-04);
}

main {
    padding: var(--spacing-03) 0;
}

.card {
    padding: var(--spacing-00) var(--spacing-02) var(--spacing-01) var(--spacing-02);

    background-color: var(--color-neutral-100);
    border-bottom: 4px solid var(--color-neutral-500);

    font-size: var(--font-size-01);
}

.indented-heading {
    width: fit-content;

    margin: 0;
    margin-left: calc(-2 * var(--spacing-02));
    padding: var(--spacing-02) var(--spacing-02) var(--spacing-02) calc(2 * var(--spacing-02));

    border-bottom: 4px solid var(--color-secondary-dark);
    background-color: var(--color-secondary-light);

    font-size: var(--font-size-03);
}
